<html>
  <head></head>
  <body>
    <h1>Add an artist</h1>
      <form action="/artists" method="POST">
        <input type="name" name="name">
        <input type="genre" name="genre">

        <input type="submit" value="Submit the form">
      </form>
  </body>
</html>
